<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bidit">
        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.home.HomeActivity" />
        <activity android:name=".presentation.ui.login.LoginActivity" />
        <activity android:name="com.alexk.bidit.presentation.ui.category.CategoryActivity" />
        <activity android:name=".presentation.ui.bid.BiddingActivity" />
        <activity android:name=".presentation.ui.selling.SellingActivity" />
        <activity android:name=".presentation.ui.myPage.MyPageBasicAccountActivity" />
        <activity android:name=".presentation.ui.myPage.MyPagePersonalInfoManualActivity" />
        <activity android:name=".presentation.ui.myPage.MyPageServiceInfoActivity" />
        <activity android:name=".presentation.ui.myPage.MyPageAlarmActivity" />
        <activity
            android:name=".presentation.ui.myPage.MyPageProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/KAKAO_APP_KEY" />
            </intent-filter>
        </activity>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

    </application>

</manifest>